body{
    background-image: url("../imagenes/logos/fondo2.jpg");
    background-repeat: no-repeat;
}
/* boton de inicio de sesion */
button{
    background-color: #d65409;
}
/* contenido de prueba */
.card-group{
    padding-top: 1%;
    margin: 1%;
}
/* footer */
article{
    height: 80px;
    text-align: center;
    color: white;
    padding-top:2%;
}


/* Estilos de los div fila y colmuna,  */
.fila{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    
}
.fila h2{
    color: white;
    font-size: 2.5rem;
}
.columna{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
    
}
.columna div{
   
    margin-bottom: 2%;
    
}
.columna .imagen{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.columna .imagen img{
    height: 25rem;
}
.columna .boton{
    display: flex;
    justify-content: center;
}
.columna p{
    text-align: center;
    margin: 0;
    background: rgba(0, 0, 0, 0.247);
    color: black;
    font-size: 1.3rem;
}

/* Estilos generales para las tablas */
tr{
    background:rgba(0, 0, 0, 0.28);  
}
td{
    color: white;
}
