@font-face{
    font-family: logo;
    src: url('Fuentes/Bricktown.ttf');
}
body{
    background-image: url("../imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
footer {
    padding-top: 2rem;
} 
/* boton de inicio de sesion */
button{
    background-color: #d65409;
}
h1{
    margin:0 auto; 
    text-align:center; 
    color: white;
    font-size: 3rem;
}

.tituloTxurdi {
    color: #d65409;
    font-family: logo;
}
.subtituloOrla {
    font-family: logo;
}
/* contenido de prueba */
.card-group{
    padding-top: 1%;
    margin: 1%;
}
/* footer */
article{
    height: 80px;
    text-align: center;
    color: white;
    padding-top:2%;
}


/* Estilos de los div fila y colmuna,  */
.fila{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: white;
    padding: 2%;
    border-radius: 1rem;
    
}
.fila h2{
    color: rgb(41, 41, 46);
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
}
.columna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}
.columna div{
   
    margin-bottom: 2%;
    
}
.columna .imagen{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.columna .imagen img{
    height: 20rem;
}
.columna .boton{
    display: flex;
    justify-content: center;
}
.columna p{
    text-align: center;
    margin: 0;
    border:solid 0.013rem rgba(0,0,0,0.247);
    background: rgba(81, 112, 138, 0.253);
    color: black;
    font-size: 1.3rem;
}

/* Estilos generales para las tablas */
tr{
    background:rgba(0, 0, 0, 0.28);  
}
td{
    text-align: center;
    color: white;
    height: 1rem;
}
th{
    text-align: center;
}
label{font-size: 1.5rem;}

/* Estilos generales para mensajes de error y esxito */
.msj_error, .msj_exito{
    margin: 0 auto;
    width: 50%;
}
.msj_error p, .msj_exito p{
    text-align:center;
     margin:0 auto;
     font-size: 1rem;
}

/*Estilos que les damos a los botones en general*/
.btn_iconos{
    font-size:1.5rem;
    border-radius: 50%;
    padding: 0.2rem;
}

.opciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn_opciones{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn_opciones a button{
    padding: 1rem;
    color: white;
    font-size: 2rem;
    background:rgb(41, 41, 46);  
}

.btn_opciones a button:hover{
    color: rgb(41, 41, 46); 
    background: white;
    text-decoration: none;
}
/*Titulo de la vista home*/
.saludo_user h2{
    font-size: 3rem;
    color: rgb(41, 41, 46);
}
.saludo_user h2:hover{
    color: white;
}
.scrollable{
    height: 500px;
    overflow-x: scroll;
}

